<div class="col-sm-12 col-xl-12">
    <div class="d-flex p-4 shadow rounded justify-content-between align-items-end bg-white">
        <a href="/">
            <button class="btn btn-primary">
                <i class="fas fa-chevron-left"></i>
            </button>
        </a>
        <h5 style="text-align: center;color: var(--primary)">
            <i class="fas fa-question-circle me-2"></i> Help Center
        </h5>
        <div></div>
    </div>
</div>
<div class="col-sm-12 col-xl-12">
    <div class="shadow rounded h-100">
        <div class="rounded h-100 p-4">
            <h6>How to contribute article?</h6>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            data-bs-toggle="pill"
                            data-bs-target="#upload-article-step-1"
                            type="button"
                            role="tab" aria-controls="pills-home" aria-selected="true">
                        Step 1
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " data-bs-toggle="pill" data-bs-target="#upload-article-step-2" type="button"
                            role="tab" aria-controls="pills-home" aria-selected="true">
                        Step 2
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " data-bs-toggle="pill" data-bs-target="#upload-article-step-3" type="button"
                            role="tab" aria-controls="pills-home" aria-selected="true">
                        Step 3
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="upload-article-step-1" role="tabpanel">
                    <p>Click on detail button to go to magazine detail page</p>
                    <img src="/my-assets/media/images/help/upload-article-1.png" alt="img" >
                    <img src="/my-assets/media/images/help/upload-article-2.png" alt="img" >
                </div>
                <div class="tab-pane fade " id="upload-article-step-2" role="tabpanel">
                    <p>when click on contribute button then contribute article form will be display</p>
                    <img src="/my-assets/media/images/help/upload-article-3.png" alt="img" >
                    <img src="/my-assets/media/images/help/upload-article-4.png" alt="img" >
                </div>
                <div class="tab-pane fade " id="upload-article-step-3" role="tabpanel">
                    <p>Enter article information and click on create button</p>
                    <img src="/my-assets/media/images/help/upload-article-5.png" alt="img" style="height: 50%">

                    <p>The article created in here</p>
                    <img src="/my-assets/media/images/help/upload-article-6.png" alt="img" >
                </div>

            </div>
        </div>
    </div>
</div>
