<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12" style="position:sticky; z-index:1000; top: 64px">
            <div class="d-flex p-4 shadow rounded justify-content-between align-items-end bg-white">
                <h5 style="text-align: center;">Articles Over The Years</h5>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="shadow rounded h-100">
                <%- include('../marketing-manager/article/management/partials/magazine-table', {magazine_list: data.combine_magazines}) %>
            </div>
        </div>
    </div>
</div>

<%- contentFor('script') %>

<%- contentFor('style') %>