<li class="chat-left">
    <div class="chat-avatar">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
             alt="Retail Admin">
    </div>
    <div class="chat-text">Actually everything was fine.
        <br>I'm very excited to show this to our team.
    </div>
    <div class="chat-hour">07:00</div>
</li>