<button type="button" hidden class="btn btn-primary" id="btn_open_article_modal" data-bs-toggle="modal" data-bs-target="#article_modal">
</button>
<div class="modal fade" id="article_modal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: white">
            <div class="modal-header">
                <h5 class="modal-title">New Article</h5>
            </div>
            <form id="article_form">
            <div class="modal-body">
                    <input type="hidden" name="magazine_id" value="<%= data.magazine._id %>">

                    <label for="title" class="col-form-label mt-3 title-field">Title</label>
                    <input type="text" class="form-control" required name="title" id="title">

                    <label for="description" class="col-form-label mt-3 title-field">Description</label>
                    <input type="text" class="form-control" required name="description" id="description">

                    <label class="col-form-label mt-3 title-field">Files (.doc or .docx*)</label>
                    <div class="dropzone" id="my-dropzone"></div>

                    <label class="col-form-label mt-3 title-field">Thumbnail</label>
                    <div >
                        <img id="thumb_preview"
                             class="img-thumbnail"
                             src="/my-assets/media/decoration/thumbnail-article.png"
                             width="100%" style="display: block; width: 200px; height: 200px;"
                             alt="thumbnail">
                    </div>
                    <input type="file" name="file" hidden id="input_thumb" Accept="image/png, image/jpeg, image/jpg">
                    <button class="btn btn-primary mt-3" type="button" id="btn_choose_thumb">
                        <i class="fa-solid fa-upload me-2"></i>
                        Upload image
                    </button>
                    <div class="form-check mt-5">
                        <input type="checkbox" class="form-check-input" id="cb_term_privacy">
                        <a id="btn_term_privacy" href="#">Allow the Term and Privacy</a>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" id="btn_close_article_modal" data-bs-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>