<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/my-assets/media/decoration/blog.svg">
    <title>Sign In</title>

    <link rel="stylesheet" href="/assets/css/all.min.css">

    <link href="/my-assets/css/portal/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/my-assets/css/alert-notification.css">
    <link rel="stylesheet" href="/my-assets/css/loading.css">
</head>
<body style="background: white">
<%- include('../partials/loading') %>

<div class="container-fluid">
    <div class="row justify-content-center " style="padding: 3rem">
        <div class="d-none d-md-block d-lg-block d-xl-block col-sm-12 col-md-5 col-lg-4 me-5">
            <img class="img-fluid" src="/my-assets/media/decoration/blog.svg" alt="sing up image">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-3 mt-5">
            <h2 class="form-title ">Sign In</h2>
            <form id="login_form" class="mt-5">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" autocomplete required>
                </div>
                <div style="text-align: -webkit-right;">
                    <a href="#">
                    <p style="width: fit-content; color: #FF7900" id="btn_forgot_pass">Forgot password?</p>
                    </a>
                </div>
                <button style="width: 100%" type="submit" class="btn btn-primary mt-5" id="btn_login">Login</button>
            </form>
        </div>
    </div>
</div>
<%- include('./partials/forgot-pass-modal') %>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/my-assets/js/alert-notification.js"></script>
<script src="/my-assets/js/loading.js"></script>

<script>
    $('#btn_forgot_pass').click(function (){
        $('#btn_open_forgot_pass_modal').click()
    })

    $('#login_form').submit(function (e) {
        e.preventDefault()
        const email = $('#email').val()
        const password = $('#password').val()
        $.ajax({
            url: '/security/sign-in',
            type: 'post',
            data: {email, password},
            beforeSend: Loading(true),
            success: (response) => {
                setTimeout(() => {
                    if (response.code === 200) {
                        $.cookie('user_token', response.token, {path: '/'});
                        if (response.role === 'STUDENT') {
                            location.href = '/student/magazine'
                        } else if (response.role === 'ADMIN') {
                            location.href = '/admin/dashboard'
                        } else if (response.role === 'COORDINATOR') {
                            location.href = '/coordinator/magazine'
                        } else if (response.role === 'MARKETING MANAGER') {
                            location.href = '/marketing-manager/magazine'
                        } else if (response.role === 'GUEST') {
                            location.href = '/guest'
                        }
                    } else if (response.code === 205) {
                        location.href = `/two-factor-authentication/verify/${response.email}`
                    } else {
                        Alert.Show('warning', 'email or password is wrong!')
                    }
                    Loading(false)
                }, 1500)
            },
            error: (error) => {
                setTimeout(() => {
                    Alert.Show('warning', 'something went wrong!')
                    Loading(false)
                }, 1500)
            }
        })
    })

    $('#forgot_pass_form').submit(function (e){
        e.preventDefault()
        const email = $('#input_forgot_email').val()

        $.ajax({
            url: '/security/forgot-pass',
            type: 'post',
            data: {email},
            beforeSend: Loading(true),
            success: (response) => {
                setTimeout(() => {
                    if (response.code === 200) {
                        location.href = `/security/reset-password/${email}`
                    } else {
                        Alert.Show('warning', response.message)
                    }
                    Loading(false)
                }, 1500)
            },
            error: (error) => {
                setTimeout(() => {
                    Alert.Show('warning', 'something went wrong!')
                    Loading(false)
                }, 1500)
            }
        })

    })
</script>
</html>