<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unauthorized</title>

    <link rel="stylesheet" href="/my-assets/css/unauthorized.css">
    <link rel="stylesheet" href="/my-assets/css/not-found.css">
</head>
<body style="background: rgba(255, 121, 0, 0.3)!important;">
<div class="lock"></div>
<div class="message">
    <h1>Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
    <a class="back-home" href="/security/sign-in" style="margin-top: 3rem;">Login</a>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
</script>
</html>
