<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-white container-fluid pt-4 px-4 shadow rounded"
                 style="position:sticky; z-index:1000; top: 64px">
                <div class="row g-4">
                    <div class="col-sm-9 col-xl-9">
                        <h6>Magazine Table</h6>
                    </div>
                    <div class="col-sm-2 col-xl-2">
                    </div>
                </div>
            </div>
            <div class="shadow rounded h-100 p-4 mt-3">
                <%- include('./partials/magazine-table', {magazine_list: data.magazine_list}) %>
            </div>
        </div>
    </div>
</div>
<%- contentFor('script') %>
<script>
    $('.btn-magazine-detail').click(function (){
        const magazine_id = $(this).data('magazine-id')
        location.href = `/coordinator/magazine/detail/${magazine_id}`
    })
</script>

<%- contentFor('style') %>
