<% function NavActivated(title) {
    return title === data.page_title ? "active" : ""
} %>

<div class="sidebar pe-4 pb-3  shadow p-3 mb-5 bg-body-tertiary" style="z-index: 99998">
    <nav class="navbar navbar-dark">
        <a href="/dashboard" class="navbar-brand mx-4 mb-3">
            <h3 style="color: var(--primary)"><i class="fa-regular fa-newspaper me-2"></i>UMagazine</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/dashboard" class="nav-item nav-link <%= NavActivated('Dashboard') %>"><i
                        class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/guest" class="nav-item nav-link <%= NavActivated('Contribution') %>"><i
                        class="fas fa-hand-holding-heart me-2"></i>Contribution</a>
            <a href="/profile" class="nav-item nav-link <%= NavActivated('Profile') %>"><i
                        class="fa-regular fa-id-card me-2"></i>Profile</a>
            <a href="#" class="nav-item nav-link" id="btn_logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
        </div>
    </nav>
</div>