<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="pspdfkit" style="width: 100%; height: 100vh;"></div>
</body>
<script src="/assets/read-file/pspdfkit.js"></script>
<script>
    const baseUrl = `${window.location.protocol}//${window.location.host}/my-assets/article`;

    PSPDFKit.load({
        baseUrl,
        container: "#pspdfkit",
        document: "document.pdf"
    })
        .then(instance => {
            console.log("PSPDFKit loaded", instance);
        })
        .catch(error => {
            console.error(error.message);
        });
</script>
</html>