<button type="button" hidden class="btn btn-primary" id="btn_open_view_image_larger_modal" data-bs-toggle="modal" data-bs-target="#image_larger_modal">
</button>

<div class="modal fade" id="image_larger_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg large-image-model" role="document">
        <div class="modal-content" style="background-color: transparent;border:none">
            <div class="modal-body">
                <img src="/my-assets/media/images/avatar/user.svg" alt="large-image" id="large_image" style="max-width: 100%">
            </div>
        </div>
    </div>
</div>